<mat-card>
  <mat-card-title>Mon Histoire</mat-card-title>
  <mat-card-content>{{ question.body }}</mat-card-content>
</mat-card>

<div>
  <mat-list>
    <mat-list-item *ngFor="let answer of question.answers">
      <button mat-raised-button color="primary" (click)="loadNextQuestion(answer)">{{ answer.body }}</button>
    </mat-list-item>
  </mat-list>
</div>